.sliderHome{
  position: relative;
}

.sliderHomeItem{
  position: relative;
  min-height: 700px;
  padding: 2rem 0;
}

.sliderHome__caption{
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
}

.sliderHome__title1{
  font-size: 40px;
}

.sliderHome__title2{
  font-size: 100px;
  color: var(--s-color);
  margin-bottom: 1rem;
}

.sliderHome__desc{
  font-size: 30px;
  margin-bottom: 3rem;
}