.genBannerIntro{
    background-color: var(--p-color-2);
    color: white;
    position: relative;
    overflow: hidden;
    padding: 4rem;
    height: 80vh;
    display: flex;
    align-items: center;
}

.genBannerIntro::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--p-color);
    z-index: 1;
    opacity: .7;
}

.genBannerIntro__title__bottom{
    color: var(--s-color);
}

.bgBanner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contentBanner{
    position: relative;
    z-index: 2;
    text-align: center;
}

.genTextTop{
    font-size: 25px;
    position: relative;
}

.genTextTop::before{
    position: absolute;
    content: '';
    top: 15px;
    left: -50%;
    width: 45%;
    height: 4px;
    background-color: #00FFFF;
}

.genTextTop::after{
    position: absolute;
    content: '';
    top: 15px;
    right: -50%;
    width: 45%;
    height: 4px;
    background-color: #00FFFF;
}

.genBannerIntro__title span{
    display: block;
}

.genBannerIntro__desc{
    padding: 0px 8em;
    margin-bottom: 3em;
}

.genButtonBanner{
    background-color: #00FFFF;
    padding: 10px 20px;
    border-radius: 30px;
    color: #004B87;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 2em !important;
}

.titleHosting{
    text-align: center;
    margin-top: 5em;
}

.titleHostingTop{
    color: #004B87;
}

.titleHostingBottom{
    color: #009CE1;
}

.contGrid1{
    padding: 4em;
}


.gridLeft{
    width: 50%;
}
