.circleBanner2 .imgCircle{
  min-width: 100% !important;
  min-height: 65% !important;
  opacity: .5;
}

.elDecor .vectorGreen{
  min-width: 70% !important;
}

.elDecor .imgCircle2{
  right: 240px;
  top: -100px;
  opacity: .3;
}

.sliderHome{
  position: relative;
  font-size: 20px;
}

.sliderHomeItem{
  position: relative;
  height: 100vh;
  padding: 2em;
  overflow: hidden;
}

.sliderHome__caption{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
}

.sliderHome__title1{
  font-size: 2em;
  font-weight: bold;
}

.sliderHome__title2{
  font-size: 4em;
  color: var(--s-color);
  margin-bottom: 1rem;
  font-weight: bold;
}

.sliderHome__title3{
  font-size: 2em;
  font-weight: bold;
  margin-top: 40px;
}

.sliderHome__title4{
  font-size: 2em;
  color: var(--s-color);
  font-weight: bold;
  margin-top: -15px;
}

.sliderHome__desc{
  font-size: 1.3em;
  margin-bottom: 3rem;
}

.sliderHome__desc2{
  font-size: 1.3em;
  margin-bottom: 1rem;
}

.sliderHome__observation{
  font-size: .8em;
}

.decoration{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
}

@media (max-width: 576px){
  .sliderHome{
    font-size: 13px;
  }

  .elDecor{
    display: none;
  }

  .sliderHome__caption{
    padding: 1rem;
    align-items: flex-start;
    padding-top: 6rem;
  }
}