.genBannerIntro{
  background-color: var(--p-color);
}

.genBannerIntro__title {
  font-size: 70px;
  color: var(--s-color);
  font-weight: 700;
  line-height: 70px;
}

.genBannerIntro__title__top{
  display: block;
  font-weight: normal;
  font-size: 30px;
  color: white;
}

.genBannerIntro__desc {
  font-size: 1.5rem;
  line-height: 2rem;
  color: white;
  margin: 2rem 0;
}

@media (max-width: 992px){
  .genBannerIntro{
    padding-top: 7em;
  }

  .genBannerIntro__title{
    line-height: 40px;
  }

  .genBannerIntro__title__bottom{
    font-size: 40px;
  }
}