.CarouselGen__logo{
    filter: grayscale(100%);
    transition: .4s;;
}

.CarouselGen__item{
    padding: 2rem;
    text-align: center;
}

.CarouselGen__logo:hover{
    filter: grayscale(0%);
}

.CarouselGen__item__contImg{
    height: 80px;
    position: relative;
}
