.CarouselGen__logo{
    filter: grayscale(100%);
    transition: .4s;
    width: 100%;
}

.CarouselGen__item{
    padding: 2rem;
    text-align: center;
}

.CarouselGen__logo:hover{
    filter: grayscale(0%);
}
