.genDataCounter .genDataCounter__number, .genDataCounter .genDataCounter__leyend{
    display: block;
}

.genDataCounter__number{
    font-size: 3rem;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    color: white;
    line-height: 3rem;
}

.genDataCounter__leyend{
    color: white;
    font-size: .8rem;
    font-weight: 500;
}