.genFloatIcons{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

.genFloatIcons__link{
    width: 40px;
    height: 40px;
    background: var(--p-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 1rem;
    transition: .4s;
}

.genFloatIcons__link:hover{
    -webkit-box-shadow: 2px 2px 29px 2px rgba(0,0,0,0.10); 
    box-shadow: 2px 2px 29px 2px rgba(0,0,0,0.10);
    transform: translateY(-3px);
}