@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;600;700&family=Poppins:wght@400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Be Vietnam Pro', sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5{
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

p, span{
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

:root{
  --p-color: #004B87;
  --s-color: #00FFFF;
  --text-1: #2B2B2B;
  --text-2: #515553;
  --s-color-2: #009CE1;
  --p-color-2: #003462;

  --p-gradient: linear-gradient(246.88deg, #009EE1 14.68%, #2AF598 91.32%);
  --p-gradient-v: linear-gradient(0deg, rgba(42,245,152,1) 0%, rgba(0,158,225,1) 100%);

  --gray-1: #E5E5E5;
  --gray-2: #F9F9F9;
}

.gen-text-p-color{
  color: var(--p-color);
}

.gen-text-s-color{
  color: var(--s-color);
}

.gen-text-s-color-2{
  color: var(--s-color-2);
}

.gen-text-p-color-2{
  color: var(--p-color-2);
}

.gen-info-section{
  padding: 5rem 0;
}

.gen-info-section__title{
  color: var(--p-color);
  font-weight: 700;
  font-size: 2.5rem;
}

.gen-info-section__title span{
  font-family: 'Be Vietnam Pro', sans-serif;
}

.gen-info-section__subtitle{
  font-weight: 500;
  font-size: 2rem;
  color: #313131;
}
.gen-info-section__desc{
  color: var(--text-2);
  margin: 2rem 0;
  line-height: 1.8rem;
}

.gen-input-group{
  margin-bottom: 1.5rem;
}

.gen-input-label{
  font-size: .9rem;
  color: #757575;
  font-weight: 600;
}

.gen-input-text{
  width: 100%;
  height: 70px;
  padding: 10px 1.5rem;
  margin: .5rem 0;
  border-radius: 15px;
  border: none;
  background-color: white;
  -webkit-box-shadow: 5px 2px 49px 0px rgba(0,0,0,0.1); 
  box-shadow: 5px 2px 49px 0px rgba(0,0,0,0.1);
  outline: none;
}

.gen-input-text::placeholder{
  color: #ccc;
}

.gen-input-text:focus::placeholder{
  color: var(--text-2);
}

.gen-textarea{
  height: 170px;
  padding-top: 1.5rem;
}

/* Center logo brands */
#swiper-brands .swiper-wrapper{
  align-items: center;
}

/* Buttons */
.gen-button{
  font-size: 20px;
  height: 58px;
  border: 2px solid;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  border-radius: 50px;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
  transition: .4s;
}

.gen-button-primary{
  border-color: var(--s-color);
  color: var(--s-color);
}

.gen-button-primary:hover{
  background-color: var(--s-color);
  color: var(--p-color-2);
}

/* Slick styles */
.slick-gen-theme .slick-dots{
  list-style: none;
}

.slick-gen-theme .slick-dots button{
  opacity: 0;
}

.slick-gen-theme .slick-dots li{
  width: 20px;
  height: 20px;
  border: 2px solid var(--s-color);
  border-radius: 50%;
}

.slick-gen-theme .slick-dots li.slick-active{
  background-color: var(--s-color);
}

.slick-gen-theme.dots-into .slick-dots{
  bottom: 3rem;
}

.slick-arrow{
  z-index: 2;
}

.gen-slick-arrow{
  position: absolute;
  top: 50%;
  z-index: 2;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid var(--s-color);
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .4s;
}

.gen-slick-arrow__img{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .4s;
}

.gen-slick-next .gen-slick-arrow__img{
  margin-left: -50px;
}

.gen-slick-prev .gen-slick-arrow__img{
  margin-right: -50px;
}

.gen-slick-next{
  right: 2rem;
}

.gen-slick-prev{
  left: 2rem;
}

.gen-slick-arrow:hover {
  background-color: var(--p-color);
}

.gen-slick-next:hover .gen-slick-arrow__img{
  margin-left: 0px;
}

.gen-slick-prev:hover .gen-slick-arrow__img{
  margin-right: 0px;
}

@media (max-width: 992px){
  .gen-info-section{
    padding: 4rem 0;
  }
}

@media (max-width: 576px){
  .gen-info-section{
    padding: 2rem 0;
  }
}