.genButtonNav{
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: none;
    display: grid;
    align-items: center;
    padding: .5rem;
    background: white;
    border-radius: 10px;
    transition: .3s;
}

.genButtonNav__line{
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--p-color);
    box-sizing: border-box;
    border-radius: 50px;
    transition: .3s;
}

.genButtonNav:hover{
    background-color: var(--p-color);
}

.genButtonNav:hover .genButtonNav__line{
    background-color: white;
}

.genNav{
    position: fixed;
    height: 100vh;
    background: var(--p-color);
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(-200%);
    transition: .5s;
    z-index: 3;
}

.genNavActive{
    transform: translateY(0);
}

.genNav ul{
    height: 100%;
}

.genNav ul a{
    font-size: 2rem;
    color: var(--s-color);
    margin: 1rem 0;
    position: relative;
    transition: .4s;
}

.genNav ul a::before{
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--s-color);
    position: absolute;
    top: 49%;
    left: 50%;
    z-index: 0;
    transition: .5s;
}

.genNav ul a:hover{
    color: white;
    opacity: .9;
}

.genNav ul a:hover::before{
    width: 100%;
    left: 0;
}

.genNavContainer{
    height: 100%;
    position: relative;
}

.genNavBtnClose{
    border: none;
    width: 40px;
    height: 40px;
    padding: .5rem;
    background: none;
    position: absolute;
    right: 0;
    top: 10%;
}

.genNavBtnClose__line{
    display: block;
    width: 80%;
    height: 3px;
    background-color: var(--text-1);
    box-sizing: border-box;
    border-radius: 50px;
    position: absolute;
}

.genNavBtnClose__line:first-child{
    transform: rotate(45deg);
}

.genNavBtnClose__line:last-child{
    transform: rotate(-45deg);
}

.genHeader{
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    transition: .3s;
}

.genHeader__sticky{
    background-color: white;
    -webkit-box-shadow: 12px 2px 19px 9px rgba(0,0,0,0.07); 
    box-shadow: 12px 2px 19px 9px rgba(0,0,0,0.07);
}

.genHeader__sticky__dark{
    background-color: var(--p-color-2);
}

.genHeader__sticky__dark .genButtonNav{
    background-color: var(--s-color-2);
    color: white;
}

.genHeader__sticky__dark .genButtonNav .genButtonNav__line{
    background-color: white;
}

@media (max-width: 576px){
    .genNavBtnClose{
        right: 2rem;
        top: 2rem;
    }
}