.genBannerIntro__title{
  font-size: 3rem;
  color: var(--p-color);
  font-weight: 700;
}

.genBannerIntro__desc{
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--text-2);
  margin: 2rem 0;
}

.genContGrid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1rem;
  grid-auto-flow: dense;
}

.genImgRounded{
  border-radius: 50px;
}

.genWrapCounters{
  background-color: var(--gray-2);
  padding: 3rem;
  border-radius: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 2rem
}

.genWrapServices{
  display: grid;
  margin-top: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
}

.genCarouselSection{
  padding: 6em 2em;
  background-color: #F8F9F9;
  width: 100%;
  border-radius: 30px;
}