.genContGrid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1rem;
  grid-auto-flow: dense;
}

.genImgRounded{
  border-radius: 50px;
  position: relative;
  width: 100%;
  height: 400px;
}

.genWrapServices{
  display: grid;
  margin-top: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
}

.genCarouselSection{
  padding: 6em 2em;
  background-color: #F8F9F9;
  width: 100%;
  border-radius: 30px;
}

.genWrapTeam{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.genCarouselSectionBrands{
  padding: 3em 2em;
}

.phrase{
  font-size: 2rem;
  text-align: center;
  max-width: 700px;
  margin: 3rem auto;
}

.decorationImgRounded{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.buttonsProjects a{
  margin: .5rem;
}

.servicios{
  position: relative;
  overflow: hidden;
}

.servicios::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--p-color);
  z-index: 1;
  top: 0;
  left: 0;
  opacity: .6;
}

.servicesContent{
  position: relative;
  z-index: 2;
}

.servicesContent__title{
  color: white;
}

.bgImage{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.sectionTestimonial{
  max-width: 1000px;
  margin: 4rem auto;
}

@media (max-width: 576px){
  .genImgRounded{
    margin-bottom: 3rem;
    height: 250px;
  }
}