.genContGrid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1rem;
  grid-auto-flow: dense;
}

.genImgRounded{
  border-radius: 50px;
  position: relative;
  width: 100%;
  height: 400px;
}

.genWrapServices{
  display: grid;
  margin-top: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
}

.genCarouselSection{
  padding: 6em 2em;
  background-color: #F8F9F9;
  width: 100%;
  border-radius: 30px;
}

.genWrapTeam{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.genCarouselSectionBrands{
  padding: 3em 2em;
}

.phrase{
  font-size: 2rem;
  text-align: center;
  max-width: 700px;
  margin: 3rem auto;
}

.decorationImgRounded{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.buttonsProjects a{
  margin: .5rem;
}

.servicios{
  position: relative;
  overflow: hidden;
}

.servicios::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--p-color);
  z-index: 1;
  top: 0;
  left: 0;
  opacity: .6;
}

.servicesContent{
  position: relative;
  z-index: 2;
}

.servicesContent__title{
  color: white;
}

.bgImage{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.sectionTestimonial{
  max-width: 1000px;
  margin: 4rem auto;
}

.popupHome{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .7);
  z-index: 5;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  overflow-y: scroll;
  display: none;
  opacity: 0;
  transition: 1s;
}

.activePopup{
  display: flex;
  opacity: 1;
  animation: fadeIn 1s
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}

.popupHomeBox__body{
  padding: 2rem 4rem;
}

.popupHomeBox__body__desc{
  text-align: center;
}

.popupHomeBox{
  background-color: white;
  border-radius: 20px;
  max-width: 600px;
  width: 90%;
  overflow: hidden;
  margin: auto;
}

@media (max-width: 576px){
  .genImgRounded{
    margin-bottom: 3rem;
    height: 250px;
  }
}

@media (max-width: 768px){
  .popupHome{
    padding: 2rem 1rem;
  }
  .popupHomeBox__body{
    padding: 2rem;
  }
}