.genPortfolioFilters a{
    color: #959595;
}

.genPortfolioFilters a:hover{
    color: var(--s-color);
}

.genPortfolioGrid{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
}

.genPortfolioGrid__item__cap{
    background-color: var(--p-color);
    padding: 2rem;
    width: 80%;
    position: relative;
    margin-left: 4rem;
    border-radius: 20px;
    margin-top: -20%;
    color: white;
    transition: .3s;
}

.genPortfolioGrid__item__cap__title{
    position: relative;
    font-weight: 600;
    font-size: 1.5rem;
}

.genPortfolioGrid__item__cap__cat{
    position: relative;
}

.genPortfolioGrid__item__cap__button{
    position: absolute;
    top: -25px;
    background: var(--s-color);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--p-color);
    right: 4%;
    border: none;
    font-size: 12px;
    transition: .3s;
}

.genPortfolioGrid__item__cap__button svg{
    width: 12px;
}

.genPortfolioLink:hover .genPortfolioGrid__item__cap{
    transform: translateY(-35px);
    background-color: var(--p-color-2);

}

.genPortfolioLink:hover .genPortfolioGrid__item__cap__button{
    transform: translateY(155px);

}

.genPortfolioLink:hover .genPortfolioGrid__item__cap__title{
    color: var(--s-color);
}

.genPortfolioLink{
    display: block;
    text-decoration: none;
}

.genPortfolioLink__item__cont__img{
    border: 1px solid #d7d7d7;
    width: 100%;
    height: 350px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    transition: .3s;
}

.genPortfolioLink:hover .genPortfolioLink__item__cont__img{
    filter: grayscale(1);
}