.genWrapCardsAbout{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.genWrapOurGenius{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.genCarouselBrands{
    background-color: #f8f8f8;
    padding: 3rem 2rem;
    border-radius: 40px;
}

.genWrapTestimonials{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
    margin-top: 5rem;
    gap: 3rem;
}

.vimeoResponsive{
    padding:177.78% 0 0 0;
    position:relative;
}

.vimeoResponsive iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}