.genTestimonialSingle{
    position: relative;
    padding-left: 6rem;
    margin-bottom: 3rem;
}

.genTestimonialSingle__profile__avatar{
    width: 70px;
    height: 70px;
    min-width: 70px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.genTestimonialSingle__desc{
    color: black;
    font-size: 1.2rem;
}

.genTestimonialSingle__profile{
    display: flex;
    align-items: center;
}

.genTestimonialSingle__profile span{
    display: block;
}

.genTestimonialSingle__profile__info{
    margin-left: 1rem;
    font-weight: 600;
    max-width: 200px;
    margin-bottom: 0;
}

.genTestimonialSingle__profile__info__name{
    color: var(--p-color);
    font-size: 1.2rem;
    font-weight: bold;
}

.genTestimonialSingle__profile__info__pos{
    color: var(--text-2);
    font-size: 1rem;
}

.genTestimonialSingle__footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.genTestimonialSingle__footer .genTestimonialSingle__quote{
    transform: rotate(180deg);
}

.bigText{
    font-size: 1.7rem;
}

@media (max-width: 576px){
    .genTestimonialSingle{
        padding-left: 1.5rem;
        padding-top: 2rem;
    }
}